#container {
    display: flex;
    justify-content: center;
}
.checklist {
    justify-content: center;
    width: 75%;
}
.checklist-item {
    display: flex;
}
.checkbox {
    height: 3.8rem;
    width: 3.8rem;
    margin-right: .5rem;
}